.content {
    padding: 30px;
    @include box-content();
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    max-width: 960px;
}

.wc-product {
    margin-bottom: 30px;

    a {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #3a3a3a;

        &:active,
        &:visited,
        &:link {
            color: #3a3a3a;
        }

        h3 {
            color: #3a3a3a;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            margin: 5px 0 10px;
        }

        img {
            max-width: 280px;
        }
    }
}

.pagination {
    list-style: none;

    li {
        color: rgb(58, 58, 58);
        background-color: rgb(234, 234, 234);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: 1px solid rgba(30, 30, 30, 1);
        &.active {
            color: rgb(234, 234, 234);
            background-color: rgb(58, 58, 58);
        }
        &.disable {
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
            user-select: none; 
        }
    }
}